# .gitignore
#Files
calendar_credentials.b64
calendar_credentials.json
moeencalendarbot-826e5f6d7209.json
fly_secrets.rtf
*.pyc
.env
stress_bulk.py
# Folders
__pycache__/
venv/

.env.backup
.env
.env.*
*.env
.env.backup
